* {
  box-sizing: border-box;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  text-align: center;
}

:root {
  font-size: 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

button {
  list-style-type: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
  width: 250px;
}
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover {
  color: white;
  background-color: white;
}

.pokemon-list {
  list-style: none;
  text-align: center;
}

li {
  padding: 10px;
}

.background {
  display: block;
}

.input-wrapper {
  width: 400px;
  margin: 0 auto;
  max-width: 60%;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

img {
  width: 25%;
  display: flex;
  margin: auto;
}

.close {
  width: 50%;
}

.center-list {
  justify-content: center;
  width: 100%;
}

body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 90%;
    max-width: 90%;
    left: 5%;
  }
}
